/* Hovedcontaineren */
.city-label-container {
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
}

/* Den aflange bund-bar */
.city-name-bar {
    background-color: rgba(0, 31, 63, 0.9);
    border-width: 0.5px;
    border-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 4px 10px;
    min-width: 60px;
    align-items: center;
    justify-content: center;
}

.city-name-text {
    color: rgb(255, 255, 255);
    -unity-font-style: bold;
    font-size: 8px;
    -unity-text-align: middle-center;
    margin: 0;
    padding: 0;
}