.command-mini-window {
    width: 220px;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    position: absolute;
}

.command-body {
    align-items: center;
}

.command-title {
    -unity-font-definition: var(--font-header);
    color: var(--c-text-header);
    font-size: 16px;
    -unity-font-style: bold;
}

.command-coords {
    color: var(--c-text-muted);
    font-size: 11px;
    margin-bottom: 10px;
}

.command-row {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.command-btn {
    flex-grow: 1;
    margin: 2px;
    height: 32px;
    font-size: 12px;
}